<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

<!-- 导入属性文件 -->
<context:property-placeholder location="classpath:dbcp.properties"/>

<bean id="ds" class="hpe.lxc.spring.beans.properties.DataSource">
   <property name="properties">
     <props>
       <prop key="user">root</prop>
       <prop key="password">root</prop>
       <prop key="driverClass">com.mysql.jdbc.Driver</prop>
       <prop key="jdbcUrl">jdbc:mysql:///spring</prop>
       <prop key="initPoolSize">5</prop>
       <prop key="maxPoolSize">10</prop>
     </props>
   </property>
</bean>
 
<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
 <property name="user" value="${jdbc.user}"/>
 <property name="password" value="${jdbc.password}"/>
 <property name="driverClass" value="${jdbc.driverClass}"/>
 <property name="jdbcUrl" value="${jdbc.jdbcUrl}" />
</bean>

</beans>
